<html>
<head>
	<script type="text/javascript" src='vue.js'></script>
</head>
<body>

<div id="app">
	{{$data}}
	<div v-for="plan in plans">
		<plan :plan="plan" @activate="setPlan(plan)" :active="activeRoot"></plan>
	</div>
</div>

<template id="plan-template">
	<div>
		<span>{{plan.name}}</span>
		<span>{{plan.price}}/month</span>
		<button v-if="!isActive" @click="updateActivePlan">{{isUpgrade ? 'Upgrade' : 'Downgrade'}}</button>
		<span v-else>Aktywny</span>

	</div>
</template>

<script type="text/javascript">

	Vue.component('plan', {
		template: '#plan-template',
		props: ['plan', 'active'],
		computed: {
			isActive: function() {
				return this.plan.price === this.active.price;
			},

			isUpgrade: function() {
				return this.plan.price > this.active.price;
			},
		},

		methods: {
			updateActivePlan: function() {
				this.$emit('activate', this.plan);
			},
		}
	});
	
	var pakiety = new Vue({
		el: "#app",
		data : {
			plans : [
				{name: 'Wysoka', price: 200},
				{name: 'Średnia', price: 150},
				{name: 'Niska', price: 100},
				{name: 'Budzet', price: 50},
			],
			activeRoot : {},
		},
		methods: {
			setPlan: function(plan) {
				this.activeRoot = plan;
			}
		}

	});

</script>
</body>
</html>